---
import "../styles/index.scss";
import backImgUrl from "../img/back.webp?url";
import backVidUrl from "../img/back.webm?url";
import backLayer01WebpUrl from "../img/back_layer_01.webp?url";

export interface Props {
    title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/x-icon" href="/favicon.ico" />
        <meta name="generator" content={Astro.generator} />
        <title>{title ? `Reost – ${title}` : "Reost"}</title>
        <link rel="preload" href={backImgUrl} as="image" />
        <link rel="preload" href={backLayer01WebpUrl} as="image" />
    </head>
    <body>
        <img class="back" src={backImgUrl} alt="" />
        <video
            class="back"
            playsinline
            autoplay="autoplay"
            preload="auto"
            muted
            loop
            onloadeddata="this.classList.toggle('loaded', true)"
        >
            <source src={backVidUrl} type="video/webm" />
        </video>
        <header>
            <h1>Reost</h1>

            <nav>
                <a class="button" href="/">Home</a>
                <a class="button" href="/discord">Discord</a>
                <a class="button" href="/rules">Regeln</a>
                <a class="button" href="/team">Team</a>
                <a class="button" href="/contact">Kontakt</a>
                <a class="button" href="//wiki.reost.de">Wiki</a>
            </nav>

        </header>
        <main>
            <form action="https://api.reost.de/authorize" method="GET">
                <input class="button" type="text" name="login" placeholder="Username" />
                <input type="hidden" name="client_id" value="reost" />
                <input class="button" type="submit" value="Login" />
            </form> 
            <br />
            <slot />
        </main>
        <footer>
            <h2>Rechtliches</h2>
            <a class="link" href="/impressum">Impressum</a>
        </footer>
        <script src="../scripts/cursor-pos.ts"></script>
    </body>
</html>
